In [35]:
import numpy as np
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
%config InlineBackend.figure_format = 'retina'
from pylab import rcParams
rcParams['figure.figsize'] = (12, 9)

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [6]:
data = pd.read_csv("C:/Users/gordee-ext/OneDrive - Louis Dreyfus Company/Desktop/Netology/Моудль 4/Задание 2/materialy-k-zanyatiy-2019-25-06/adult.csv")

In [7]:
data.head(1)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K

In [15]:
#Найдем пустые значения \ пустых значений нет
data.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [14]:
#Проверим форматы данных \ 9 фич имеют формат object
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [32]:
#Смотрим, какие значения есть у каждой переменной типа объект, чтобы решить можно их заменить на числа или нет
#data.groupby(data['workclass']).count()
#data.groupby(data['education']).count()
#data.groupby(data['marital-status']).count()
#data.groupby(data['occupation']).count()
#data.groupby(data['relationship']).count()
#data.groupby(data['race']).count()
data.groupby(data['gender']).count()
#data.groupby(data['native-country']).count()
#data.groupby(data['income']).count()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,income
gender,,,,,,,,,,,,,,
Female,16192,16192,16192,16192,16192,16192,16192,16192,16192,16192,16192,16192,16192,16192
Male,32650,32650,32650,32650,32650,32650,32650,32650,32650,32650,32650,32650,32650,32650

In [33]:
#Дропнем категориальные фичи
data_fix=data.drop(['workclass','education','marital-status','occupation','relationship','race','native-country'], axis=1)
#Заменим признаки gender, income на числовые
data_fix['gender']=data_fix['gender'].map({'Male': 1, 'Female': 0})
data_fix['income']=data_fix['income'].map({'<=50K': 0, '>50K': 1})

In [34]:
data_fix.head(2)

,age,fnlwgt,educational-num,gender,capital-gain,capital-loss,hours-per-week,income
0,25,226802,7,1,0,0,40,0
1,38,89814,9,1,0,0,50,0

In [ ]:
#Попробуем угадать доход по признакам строчкой выше.
#Хотя интереснее было бы включить такие признаки как расу, образование, наличие семьи и другие,
#но на их подготовку нужно потратить больше времени, поэтому пока что не беру эти признаки.

In [36]:
x_train, x_test, y_train, y_test = train_test_split(data_fix.drop('income', axis = 1), data_fix['income'],\
                                                          test_size=0.3, shuffle=True, random_state=42)

In [53]:
model = LogisticRegression(C = 10)
model1=LogisticRegression(C = 5)
model2=LogisticRegression(C = 15)

In [54]:
# обучаем модель
model.fit(x_train, y_train)
y_pred = model.predict(x_test)

model1.fit(x_train, y_train)
y_pred1 = model1.predict(x_test)

model2.fit(x_train, y_train)
y_pred2 = model2.predict(x_test)

C:\Users\gordee-ext\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\gordee-ext\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\gordee-ext\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [46]:
from sklearn.metrics import classification_report
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.97      0.88     11233
           1       0.72      0.27      0.39      3420

   micro avg       0.80      0.80      0.80     14653
   macro avg       0.76      0.62      0.64     14653
weighted avg       0.79      0.80      0.77     14653

In [55]:
print (classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           0       0.81      0.97      0.88     11233
           1       0.72      0.27      0.39      3420

   micro avg       0.80      0.80      0.80     14653
   macro avg       0.76      0.62      0.64     14653
weighted avg       0.79      0.80      0.77     14653

In [56]:
print (classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           0       0.81      0.97      0.88     11233
           1       0.72      0.27      0.39      3420

   micro avg       0.80      0.80      0.80     14653
   macro avg       0.76      0.62      0.64     14653
weighted avg       0.79      0.80      0.77     14653

In [57]:
y_pred_proba = model.predict_proba(x_test).tolist()

In [67]:
threshold = 0.5 ## играйте с threshold
y_pred_2 = [1 if y[1] > threshold else 0 for y in y_pred_proba]
print (classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.81      0.97      0.88     11233
           1       0.72      0.27      0.39      3420

   micro avg       0.80      0.80      0.80     14653
   macro avg       0.76      0.62      0.64     14653
weighted avg       0.79      0.80      0.77     14653

In [68]:
threshold = 0.585 ## играйте с threshold
y_pred_2 = [1 if y[1] > threshold else 0 for y in y_pred_proba]
print (classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.81      0.98      0.89     11233
           1       0.81      0.22      0.35      3420

   micro avg       0.81      0.81      0.81     14653
   macro avg       0.81      0.60      0.62     14653
weighted avg       0.81      0.81      0.76     14653

In [84]:
threshold = 0.2546 ## играйте с threshold
y_pred_2 = [1 if y[1] > threshold else 0 for y in y_pred_proba]
print (classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.79      0.65      0.72     11233
           1       0.28      0.45      0.34      3420

   micro avg       0.60      0.60      0.60     14653
   macro avg       0.54      0.55      0.53     14653
weighted avg       0.67      0.60      0.63     14653

In [89]:
threshold = 0.54 ## играйте с threshold
y_pred_2 = [1 if y[1] > threshold else 0 for y in y_pred_proba]
print (classification_report(y_test, y_pred_2))

              precision    recall  f1-score   support

           0       0.81      0.98      0.88     11233
           1       0.75      0.25      0.37      3420

   micro avg       0.81      0.81      0.81     14653
   macro avg       0.78      0.61      0.63     14653
weighted avg       0.80      0.81      0.77     14653